.tabs {

    .tab-header-wrap {
        display: flex;
        padding: 0 1px;

        @media (max-width: $mobile-max) {
            flex-direction: column;
            overflow: hidden;
            opacity: 0;
            transform: translateY(-20px);
            position: absolute;
            pointer-events: none;
            transition: none;
        }
    }

    .tab-header {
        padding: 8px 20px;
        font-weight: bold;
        transition: color .2s linear;

        &.active {
            box-shadow: 0 1px 0 #fff, 0 0 0 1px $c-border;
        }

        @media (max-width: $mobile-max) {
            padding-left: 0;

            &.active {
                box-shadow: none;
                text-decoration: underline;
                color: #d2691e;
            }
        }

        &:not(.active) {
            cursor: pointer;

            &:hover {
                color: $c-highlight;
            }
        }
    }

    .tab-header-wrap--active {

        position: relative;
        transform: translateY(0);
        pointer-events: auto;
        opacity: 1;
        transition: opacity 0.2s, transform 0.3s;
    }


    .tab-content-wrap {
        border: 1px solid $c-border;

        @media (max-width: $mobile-max) {
            margin-top: 30px;

        }
    }

    .tab-content {
        padding: 30px 20px;

        &:not(.active) {
            display: none;
        }

        .tab-content__image-wrapper {
            max-height: 600px;

            & img {
                object-fit: cover;
                object-position: 50% 50%;
            }
        }

        .tab-content__image-click-wrapper {
            max-height: 600px;

            & img {
                object-fit: cover;
                object-position: 50% 50%;
            }
        }
    }

    .tabs__mobile-button {
        display: none;
        background: transparent;
        border: 0;
        margin-bottom: 14px;
        align-items: center;
        font-family: inherit;
        font-size: 18px;

        & svg {
            padding-right: 8px;
        }

        &:active {
            transform: scale(1.01);
            opacity: 0.6;
        }

        @media (max-width: $mobile-max) {
            display: flex;
        }
    }
}
